:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

section,
footer {
  padding: 20px;
  margin: 20px;
  border: 1px solid #333333;
  border-radius: 10px;
}

h1 {
  margin-top: 0.5rem;
}

nav,
header {
  margin: 20px 20px 40px 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(34, 156, 255);
}

a:hover {
  color: rgba(255, 255, 255, 0.986);
}

.footer {
  background-color: #333333;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  text-align: center;
  perspective: 2000px;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.grid-item img:hover {
  transform: rotateY(2deg) rotateX(2deg) scale(1.005);
  box-shadow: 0 0 20px rgba(118, 161, 255, 0.836);
}

/* Media queries for responsive design */
@media (max-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
